 #contenedor
section#s1
        article.imagen
          br
          img(src='https://images-na.ssl-images-amazon.com/images/I/61LRryne08L._SX385_BO1,204,203,200_.jpg')
          br
          | Un monstruo viene a verme.
          br
          | 14,20€
          br
          input(type='button', value='comprar', onclick="comprar('Un monstruo viene a verme', 14.20);")
        article.imagen
          br
          img(src='https://images-na.ssl-images-amazon.com/images/I/51Uzj2WnFgL._SX339_BO1,204,203,200_.jpg')
          br
          | El hogar de miss Peregrine para niños peculiares
          br
          | 11,90€
          br
          input(type='button', value='comprar', onclick="comprar('El hogar de miss Peregrine...', 11.90);")
        article.imagen
          br
          img(src='https://images-na.ssl-images-amazon.com/images/I/414bDU0icmL._SX326_BO1,204,203,200_.jpg')
          br
          | Los renglones torcidos de dios
          br
          | 8,50€
          br
          input(type='button', value='comprar', onclick="comprar('Los renglones torcidos de dios', 8.50);")
        article.imagen
          br
          img(src='https://images-eu.ssl-images-amazon.com/images/I/41YmPJAPueL.jpg')
          br
          | El principito
          br
          | 6,65€
          br
          input(type='button', value='comprar', onclick="comprar('El principito', 5.65);")
        article.imagen
          br
          img(src='https://images-na.ssl-images-amazon.com/images/I/51hFJvNRW0L._SX327_BO1,204,203,200_.jpg')
          br
          | It
          br
          | 10,93€
          br
          input(type='button', value='comprar', onclick="comprar('It', 10.93);")
        article.imagen
          br
          img(src='https://images-na.ssl-images-amazon.com/images/I/51P-1VHhybL._SX359_BO1,204,203,200_.jpg')
          br
          | Chico y Rita
          br
          | 20,90€
          br
          input(type='button', value='comprar', onclick="comprar('Chico y Rita', 20.90);")
        article.imagen
          br
          img(src='https://images-eu.ssl-images-amazon.com/images/I/51TRL-eZrDL.jpg')
          br
          | Veronika decide morir
          br
          | 10,40€
          br
          input(type='button', value='comprar', onclick="comprar('Veronika decide morir', 10.40);")
        article.imagen
          br
          img(src='https://images-na.ssl-images-amazon.com/images/I/51PDT3PIj9L._SX336_BO1,204,203,200_.jpg')
          br
          | Perros e hijos de perra
          br
          | 25,85€
          br
          input(type='button', value='comprar', onclick="comprar('Perros e hijos de perra', 25.85);")
